#content {
  margin: 30px auto;
  display: block;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 620px;
  height: 877px;
}

#image-source {
  display: none;
}

#selection {
  display: none;
  position: absolute;
  z-index: 100;
  background: rgba(255, 0, 0, 0.5);
  border: 1px solid red;
}

#selection.active {
  display: block;
}